<section>
  <h1>Directives</h1>
  <article><h2>ngIf</h2>
    <div>
      <p *ngIf="false">*ngIf="false"</p>
      <p *ngIf="true">*ngIf="true"</p>
      <p *ngIf="3>2-1">*ngIf="3>2-1"</p>
      <p *ngIf="shown">*ngIf="shown"</p>
    </div>
  </article>
  <article><h2>ngSwitch</h2>
    <div class="container" [ngSwitch]="myVar">
      <p *ngSwitchCase="'A'">Var is A</p>
      <p *ngSwitchCase="'B'">Var is B</p>
      <p *ngSwitchDefault>Var is something else</p>
    </div>
  </article>
  <article><h2>ngIf; then; else</h2>
    <div *ngIf="isValid;then thenBlock else elseBlock">here is ignored</div>

    <ng-template #thenBlock>thenBlock: isValid == true</ng-template>
    <ng-template #elseBlock>elseBlock: isValid == false</ng-template>
  </article>
  <article><h2>*ngFor</h2>
    <ul>
      <li *ngFor="let item of [1,2,3]">item {{item}}</li>
    </ul>
    <div *ngFor="let name of names; let i = index;">
      <p>Hello {{name}}!</p>
    </div>
  </article>
</section>